
Matrix_Portal_Weather_Display/.DS_Store
Matrix_Portal_Weather_Display/bundle/.DS_Store
Matrix_Portal_Weather_Display/bundle/Images/.DS_Store
Matrix_Portal_Weather_Display/bundle/lib/.DS_Store
media/.DS_Store
PyPortal_Corrosion_Display/.DS_Store
PyPortal_Corrosion_Display/bundle/.DS_Store
PyPortal_Corrosion_Display/bundle/lib/.DS_Store
PyPortal_Corrosion_Display/bundle/lib/adafruit_imageload/.DS_Store
Weather_Source/bundle/lib/.DS_Store
Weather_Source/bundle/Images/.DS_Store
Weather_Source/bundle/.DS_Store
Weather_Source/.DS_Store
PyPortal_Mikey_Weather_Display/bundle/lib/adafruit_imageload/.DS_Store
PyPortal_Mikey_Weather_Display/bundle/lib/.DS_Store
PyPortal_Mikey_Weather_Display/bundle/.DS_Store
PyPortal_Mikey_Weather_Display/.DS_Store
.DS_Store
/.idea
PyPortal_Corrosion_Display/.idea/inspectionProfiles/profiles_settings.xml
PyPortal_Corrosion_Display/.idea/inspectionProfiles/Project_Default.xml
/PyPortal_Corrosion_Display/.idea
/Weather_Display_v027/.idea
/Weather_Source/.idea
